<%- include('partials-admin/header.ejs') %>

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="ajout-article">
                    <h1>Ajouter un article</h1>
                </div>
            </div>

        </div>

        <div class="row">

            <!-- FORMULAIRE D'AJOUT D'ARTICLE -->
            <form action="/tableau-de-bord/ajouter-un-article" method="POST" enctype="multipart/form-data">
                <div class="col-md-6">
                    <!-- TITRE -->
                    <div class="ajout-article">
                        <label class="form-label">Titre de l'article</label>
                        <input class="form-control" name="titre">
                    </div>
                </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <!-- IMAGE -->
                <div class="ajout-article">
                    <label for="formFile" class="form-label">Télécharger l'image</label>
                    <input class="form-control" type="file" id="formFile" name="image">
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <!-- CATEGORIE -->
                <div class="ajout-article">

                    <select name="categorieId">
                        <option>Catégorie de l'article</option>
                        <% categories.forEach(function(categorie) {%>
                            <option value="<%=categorie.categorieId%>">
                                <%=categorie.categorie%>
                            </option>
                            <%});%>
                    </select>
                </div>
                
            </div>

        </div>

        <div class="row">
            <!-- CONTENU -->
            <div class="col-md-8">
                <div class="ajout-article">
                    <label for="exampleFormControlTextarea1" class="form-label">Contenu de l'article</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="contenu"></textarea>
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <!-- AUTEUR -->
                    <div class="ajout-article">
                        <select name="utilisateurId">
                            <option>Choisir l'auteur</option>
                            <% auteurs.forEach(function(auteur) {%>
                                <option value="<%=auteur.utilisateurID%>">
                                    <%=auteur.pseudo%>
                                </option>
                                <%});%>
                        </select>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="bouton">
                    <button type="submit" class="btn btn-primary">Publier</button>
                </div>
                
                
                </form>
                
            </div>
            <div class="col-md-3">
                <div class="bouton">
                    <a href="/tableau-de-bord"><button class="btn btn-danger mt-2">Annuler sans sauvegarder</button></a>
                </div>
                
            </div>
        </div>

    </div>

    <%- include('partials-admin/footer.ejs') %>