<%- include('partials-admin/header.ejs') %>

    <div class="container">

        <div class="row">
            <div class="col-md-12 ">
                <h1>Modification de l'article</h1>
            </div>
        </div>


        <!-- FORMULAIRE D'AJOUT D'ARTICLE -->

        <form action="/tableau-de-bord/modifier-une-categorie/<%= repriseDonneeCategorie.categorieId %>?_method=PUT " method="POST"
            enctype="multipart/form-data">
            <!-- TITRE -->
            <div class="row">
                <div class=" col-md-6 mb-3 mt-3">
                    <div class="edit">
                        <label class="form-label">Nom de la categorie</label>
                    <input class="form-control" name="categorie" value="<%=repriseDonneeCategorie.categorie%>">
                    </div>
                    
                </div>
            </div>


            <!-- IMAGE -->
            <div class="row">
                <div class="col-md-9" style="display: flex;">
                    <div class="mb-3 mr-2">
                        <div class="edit-image">
                            <label for="formFile" class="form-label">Télécharger l'image</label>
                            <input class="form-control" type="file" id="formFile" name="image">
                        </div>
                        
                    </div>
                    <div class="apercu-img mb-3">
                        <div class="edit-image-actuelle">
                            <h4>Image actuelle</h4>
                        <img src="/images/uploads/<%= repriseDonneeCategorie.image%> " alt="" style="width: 50%;">
                        </div>
                        
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-md-8">
                    <!-- CONTENU -->
                    <div class="edit">
                        <label for="exampleFormControlTextarea1" class="form-label">Description de la catégorie</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                            name="description"><%=repriseDonneeCategorie.description%></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <!-- LIEN -->
                    <div class="ajout-article">
                        <label class="form-label">Lien</label>
                        <input class="form-control" name="liens" value="<%=repriseDonneeCategorie.liens%>">
                    </div>
                </div>
            </div>


            

            <div class="row">
                <div class="col-md-3">
                    <div class="bouton">
                        <button type="submit" class="btn btn-primary">Modifier</button>
                        <a href="/tableau-de-bord" class="btn btn-danger">Annuler sans sauvegarder</a>
                    </div>
                    
                    </form>
                    
                </div>
            </div>
            

    </div>



    <%- include('partials-admin/footer.ejs') %>