



    <%- include('partials/header') %>
    <h2 class="titre-page">Les jeux Massivement Multijoueur Online</h2>
        <div class="container">
            

            <div class="row mt-5 mb-5">

                <div class="col-md-8">
                    <% carteJeu.forEach(function(carte){%>
                        <div class="article">
                            <div class="image-article">
                                <img src="/images/uploads/<%=carte.image%>" alt="" style="width: 60%;">
                            </div>
                            <div class="texte-article">
                                <div class="titre-article">
                                    <h4>
                                        <%=carte.titre%>
                                    </h4>
                                </div>
                                <div class="description-article">
                                    <p>
                                        <%=carte.contenu%>
                                    </p>
                                </div>
                                <div class="lien-article">
                                    <form action="/mmo/articleMmo/<%= carte.articleId%> ">
                                        <button class="btn btn-link">En Lire plus...</button> 
                                    </form>
                                    
                                </div>
                            </div>

                        </div>
                        <%})%>

                </div>


            </div>
        </div>
        <%- include('partials/footer') %>
