
    <%- include('partials/header') %>

    <section class="mmo">
        <div class="container">
            <h2 class="text-center mb-2">Les tests MMO déjà effectués ci-dessous</h2>

            <div class="row">

                <% carteJeu.forEach(function(carte){%>
                    <div class="col-md-12">

                        <div class="article mb-4">
                            <div class="image-article">
                                <img src="/images/uploads/<%=carte.image%>" alt="">
                            </div>
                            <div class="texte-article">
                                <div class="titre-article">
                                    <h4>
                                        <%=carte.titre%>
                                    </h4>
                                </div>
                                <div class="description-article">
                                    <p>
                                        <%=carte.contenu%>
                                    </p>
                                </div>
                                <div class="lien-article">
                                    <form action="/mmo/articleMmo/<%= carte.articleId%> ">
                                        <button class="btn btn-link">En Lire plus...</button> 
                                    </form>

                                </div>
                            </div>

                        </div>


                    </div>
                    <%})%>
            </div>
        </div>
    </section>
        <%- include('partials/footer') %>
