<%- include('partials/header') %>
    <!-- Block pour l'introduction du blog -->
    
        <div class="container">
            <section class="mb-5 ">
                <div class="row ">

                    <div class="col-md-9 introduction">
                        <div class="introduction-apparition">
                            <div class="titre-intro ">
                                <h1>Introduction de notre site</h1>
                            </div>
                            <div class="presentation-intro">
                                <p>Bienvenue sur notre blog concernant le gaming.<br>
                                    Sachez que tous les articles qui sont postés sont soumis à des tests par nos
                                    testeurs de
                                    jeux
                                    qui sont passionnés de jeu mais aussi de nouvelles expériences dans le gaming.
                                    C'est pourquoi nos articles sont crédibles et très souvent cités dans les médias
                                    gaming.<br>
                                    Notre equipe que votre expérience sera plaisante et que nos articles vous aiderons à
                                    faire
                                    votre
                                    choix de jeu.</p>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <!-- Block pour les cartes de catégories -->
            <section class="categorie-jeu">
                <div class="row ">

                    <% categories.forEach(function(categorie) {%>
                        <div class="col-md-5 mb-4">
                            <a href="/<%= categorie.liens %>" class="carte">
                                <div class="card mb-2">
                                    <img src="<%= categorie.image %>" class="card-img-top" alt="image-categorie">
                                    <div class="card-body">
                                        <h4 class="card-text">
                                            <%= categorie.categorie %>
                                        </h4>
                                        <p class="card-text">
                                            <%= categorie.description %>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <%})%>

                </div>
            </section>
        </div>
    

    <%- include('partials/footer') %>